import styles from '@/styles/pages/{{pascalCase name}}.styles.ts'

const {{pascalCase name}} = () => (
  <div className={styles.container}>
    <h1>{{pascalCase name}}</h1>
  </div>
)

export default {{pascalCase name}}